In [61]:
import pandas as pd

## 1 - Scrape Web page content into dataframe

In [62]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
dfs = pd.read_html(url)

In [68]:
df = dfs[0] # Read first table in HTML document

In [69]:
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned                        NaN
1         M2A      Not assigned                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

## 2 - Dataframe Cleanup

#### Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [70]:
df = df.drop(df[df.Borough == 'Not assigned'].index)

#### If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [71]:
df[df.Neighborhood == 'Not assigned']

Empty DataFrame
Columns: [Postal Code, Borough, Neighborhood]
Index: []

==> No cell meets this criteria

In [72]:
print("Number of rows:", df.shape[0])

Number of rows: 103